//HEADER -- FORMS

.dropdown {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: $gunMetal;
   
    

    &__header {
        display: flex;
    }
    &__ungroup {
        color: $orange;
        margin-right: 10px;
    }
    &__title {
        font-weight: 600;
        text-transform: uppercase;
    }
}
//END  -- HEADER FORMS

//DESIGN FORM

.design {
    padding-top: 27px;
    padding-bottom: 10px;
    border-bottom: 1px solid $greyBorder;
    ;
    
}

.design-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    
   

    &__description {
        margin-left: 19px;
        font-size: 14px;
        text-transform: uppercase;
    }
    &__palette {
        &--item {
            height: 25px;
            margin-bottom: 20px;
            display: flex;
            
        }
        &--radio {
            height: 17px;
            width: 17px;
        }
        &--image {
            width: 90px;
            height: 25px;
        }
    }
}
//END  -- DESIGN FORM

//SHARE FORM

.share {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $greyBorder;
    border-bottom: 1px solid $greyBorder;
    
}

.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    &__btn {
        min-width: 199px;
        height: 50px;
        margin: 30px 0;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
        border: none;
        background-color: $orange;
        color: $whiteTwo;
        font-family: $bodyF;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        &:active {
            background-color: $greyCreate;
        }
    }

    &__address {
        font-size: 22px;
        margin-right: 9px;
    }
}

.created {
    display: flex;
		width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1px solid $greyBorder;


    &__title {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 600;
    }
    &__url {
        margin-top: 5px;
        margin-left: -5px;
        margin-right: -5px;
        font-size: 12px;
        color: $orange;
    }

    &__btn {
			padding: 0;
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 30px;
        width: 181px;
        height: 30px;
        border-radius: 3px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
        border: none;
        background-color: $twitterBlue;
        font-family: $bodyF;
        font-size: 14px;
				color: $whiteTwo;
        &--icon {
            margin-right: 6px;
            color: $whiteTwo;
        }
        &--text {
            color: $whiteTwo;
        }
    }
}
