.startBody {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-page {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-awesome-main {
  width: 250px;
  height: 63px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 95px;
  @media all and (min-width: 768px) {
    width: 419;
    height: 105px;
  }
}
.title-main {
  width: 223px;
  height: 24px;
  font-size: 19.2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35.4px;
  color: $orange;
  font-family: $landingTitleF;
  @media all and (min-width: 768px) {
    width: 278px;
    height: 31px;
    font-size: 24px;
  }
}
.subtitle-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 264.8px;
  height: 38.4px;
  margin-top: 0px;
  font-size: 12.8px;
  color: $darkGreen;
  font-family: $bodyF;
  @media all and (min-width: 768px) {
    width: 331px;
    height: 48px;
    font-size: 16px;
  }
}
.options-main {
  width: 268px;
  height: 73.8px;
  margin-top: 17px;
  border-radius: 4px;
  border: 1.6px solid rgb(225, 115, 52);
  border-style: 4px;

  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media all and (min-width: 768px) {
    width: 325px;
    height: 86px;
    border-radius: 5px;
  }
}
.options-kid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 32px;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desing-icon {
  color: $orange;
}
.fill-icon {
  color: $orange;
}
.share-icon {
  color: $orange;
}
.title-options {
  font-size: 12.8px;
  font-family: $bodyF;
  color: $gunMetal;
  width: 50px;
  height: 22px;
  text-transform: capitalize;
  margin-top: 5px;
  @media all and (min-width: 768px) {
    width: 52px;
    height: 22px;
    font-size: 16px;
  }
}
.op-share {
  margin-left: 18px;
}
.comenzar {
  border-radius: 21px;
  width: 129px;
  height: 42px;
  background-color: $dirtyBlue;
  margin-top: 48.6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-bottom: 30px;
  @media all and (min-width: 768px) {
    margin-top: 196px;
  }
}
.title-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 89px;
  height: 22px;
  size: 16px;
  color: white;
  text-transform: uppercase;
  font-family: $bodyF;
}
