// fonts

$bodyF: "Open Sans", sans-serif;
$landingTitleF: "Merriweather", serif;
$cardF: "Montserrat", sans-serif;

// colors
$dirtyBlue: #438792;
$gunMetal: #54585a;
$darkGreen: #114e4e;
$hospitalGreen: #a2deaf;
$silver: #bfcdd0;
$paleGrey: #dde9ed;
$orange: #e17334;
$brownishGrey: #6b6b6b;
$twitterBlue: #00a0f5;
$whiteTwo: #ffffff;
$whiteFour: #f5f5f5;
$greyBorder: #d8d8d8;
$greyCreate: #d5d5d5;

// colour palette#a0c0cf
$darkGreen: #114e4e;
$dirtyBlue: #438792;
$hospitalGreen: #a2deaf;

$driedBlood: #420101;
$rustyRed: #bd1010;
$tomato: #e95626;

$slate: #3e5b65;
$fadedOrange: #eab052;
$lightGrey: #a0c0cf;

.hidden {
  display: none;
}

.upDown {
  transform: rotate(180deg);
}
