<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card preview</title>
  </head>
  <body>
    <section class="preview">
      <div>
        <button class="preview--button">
          <i class="far fa-trash-alt"></i> Reset
        </button>
        <div class="preview--card palette1 palette1">
          <div class="preview--card__info">
            <div class="preview--edge"></div>
            <div class="info">
              <h2 class="name">Unicornio Unicornio</h2>
              <h3 class="proffesion">Front End Unicornio</h3>
            </div>
          </div>
          <div
            class="image-preview profile__image"
            style="background-image: url('imagen')"
          ></div>
          <div class="icons">
            <a
              rel="noreferrer"
              href="tel: "
              target="_blank"
              class="icons--border"
              id="tel"
              ><i class="fas fa-mobile-alt"></i></a
            ><a
              rel="noreferrer"
              href="mailto: "
              target="_blanck"
              class="icons--border"
              id="email"
              ><i class="far fa-envelope"></i></a
            ><a
              rel="noreferrer"
              href="https://www.linkedin.com/in/"
              target="_blank"
              class="icons--border"
              id="linkedin"
              ><i class="fab fa-linkedin-in"></i></a
            ><a
              rel="noreferrer"
              href="https://www.github.com/"
              target="_blank"
              class="icons--border"
              id="github"
              ><i class="fab fa-github-alt"></i
            ></a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
