@import "core/variables";
@import "core/reset";
@import "core/mixins";
@import "layout/page";
@import "layout/header";
@import "layout/preview";
@import "layout/form";
@import "layout/formShare";
@import "layout/footer";
@import "layout/mainpage";

@import "pages/index";
@import "pages/card";
