.mediaqueries {
  background: linear-gradient(to bottom, $whiteFour, $whiteTwo 9%);
  width: 100%;
  height: auto;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include desktop {
    grid-template-columns: 40% 60%;
  }
}
.mediaqueries-form {
  height: auto;
  margin: 0 0 60px 0;
  @include tablet {
    order: -1;
  }
}
